* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  color: red;
}
#hero-section {
  color: blue;
}
#our_story-section {
  color: green;
}
#watch-section {
  color: darkred;
}
#expertise-section {
  color: fuchsia;
}
#team-section {
  color: yellowgreen;
}
#contact_client-section {
  color: lightsalmon;
}

footer >*{
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer {
  background: url(./photoshop/design-assets/bgk-footer.png)
  no-repeat center ;
  background-size: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

footer .container{
  margin:3rem 0;
  display: flex;
  max-width: 75%;
  flex-flow: column nowrap;
  align-items: center;
  
}

footer .container .first >*{
  max-width: 33%;
}

footer .container .first{

  width: 100%;
  min-height: 130px;
  display: flex;
  margin-bottom: 2.5rem;
  justify-content: space-between;
  align-content: space-between;
}

footer .container .first .lorem-info, footer .container .first .our-studio, footer .container .first  .stay-in-touch{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

footer .container .first .lorem-info .label{
  display: flex;
  width: 100%;
  height: 3rem;

}

footer .container .first .lorem-info .label .tajam-1{
width: 20%;
height: 100%;
background: no-repeat center url(./photoshop/design-assets/png/logo.png);
}

footer .container .first .lorem-info .label .tajam-2{
display: flex;
align-items: center;
font-size: larger;
color: rgb(18, 150, 183);
}



footer .container .first .our-studio > div{
  display: flex;
  flex-direction: row;
  width: 100%;
}

footer .container .first .our-studio > div > i {
  margin-right: 1rem;
}

footer .container .first .stay-in-touch form {
  opacity: .5;
  display: flex;
  justify-content: space-between;
}

footer .container .first .stay-in-touch form input {
background: rgb(37, 37, 91);
height: 2.2rem;
text-align: center;
border: 1px solid gray;
}

footer .container .first .stay-in-touch form button {
  height: 100%;
  width: 3rem;
  margin-left: .5rem;
  background-color: rgb(176, 165, 165);
  background-image: url(./photoshop/design-assets/png/paper122.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border: none;
}

footer .container .first .stay-in-touch .social{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer .container .first .stay-in-touch .social > *{
  border-radius: 100%;
  width:1.7rem;
  height: 1.7rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer .container .first .stay-in-touch .social .facebook{
  background-image:url(./photoshop/design-assets/png/facebook.png);
}
footer .container .first .stay-in-touch .social .twitter{
  background-image:url(./photoshop/design-assets/png/twitter.png);
}
footer .container .first .stay-in-touch .social .dribbble{
  background-image:url(./photoshop/design-assets/png/dribbble.png);
}
footer .container .first .stay-in-touch .social .instagram{
  background-image:url(./photoshop/design-assets/png/instagram.png);
}
footer .container .first .stay-in-touch .social .google{
  background-image:url(./photoshop/design-assets/png/gplus.png);
}
footer .container .first .stay-in-touch .social .youtube{
  background-image:url(./photoshop/design-assets/png/youtube.png);
}



footer .container .second{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  
}

footer .container .second>*{
  font-size:smaller;
}

footer .container .second .terms{
  width: 32%;
  display: flex;
  justify-content: space-between;
}

